<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Esercizi di Flask</h1>
    <p>Esercizio di base
    Definire un route /about
        Definire una route /about che ritorni un breve testo HTML con descrizione dell’app o dell’autore.
🔹 Esercizi su routing statico e dinamico
    Route dinamica per profilo utente
        Creare un percorso /user/<nome> che restituisca “Benvenuto, <nome>!”.
        Testare con nomi diversi nell’URL.
    Route con parametri numerici
        Definire /square/<int:n> che ritorni il quadrato di n.
    Parametri multipli
        Creare /sum/<int:a>/<int:b> che restituisca la somma dei due numeri.
</p>
<p><a href="{{ url_for('home')}}">Torna alla home</a></p>
</body>
</html>